/* BATTLEDISPLAY CSS */
.playingCard {
  margin: 10px;
  border: 6px solid white;
  background-color: rgba(255, 255, 255, 0.12) !important;
}

.cardHeader {
  display: flex;
}

.cardName {
  margin: 4% 0 0 2%;
}

.cardHP {
  margin: 4% 2% 4% 0;
  margin-left: auto;
}

.cardDivider {
  border: 1px solid gray;
}

.attack1 {
  display: flex;
  height: 7%;
}

.attackName {
  margin: auto 10%;
}
.attackDmg {
  margin: auto 10% auto 0;
  margin-left: auto;
}

.attack2 {
  display: flex;
  height: 10%;
}

.attackDetails {
  margin: 0 12% 0 12%;
  font-size: 0.7rem;
}

.bench {
  display: flex;
}

.battleContainer {
  height: 290px;
  display: flex;
  justify-content: center;
}

.awayBench {
  margin-left: auto !important;
  margin-right: 10px !important;
}

.homeBench {
  margin-left: 10px !important;
}

.MuiPaper-root h2 {
  max-height: 10%;
}

.battleInfo {
  max-height: 75%;
  margin-top: 0px !important;
}

/* SHOPDISPLAY CSS */
.shopOptions {
  display: flex;
}
